<?xml version="1.0" encoding="utf-8"?>

 <manifest 
   xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:pluto="http://www.w3.org/2001/pluto.html"
   package="com.mike.theme.honeycomb3d"
   android:versionCode="7"
   android:versionName="2.3.2"
   android:installLocation="internalOnly"
   android:hasCode="false">
     
   <application 
         android:icon="@drawable/icon" 
         android:label="@string/theme_name">
   <activity android:name="com.mike.theme.Foo"
         android:label="@string/theme_name"/>
   </application>


   <theme
 
   pluto:themeId="Honeycomb3D"
   pluto:styleId="@style/Honeycomb3D"
   pluto:name="@string/theme_name"
   pluto:preview="@drawable/preview"
   pluto:author="@string/author"
   pluto:copyright="@string/copyright"
   pluto:wallpaperImage="@drawable/wallpaper"
   pluto:styleName="@string/style_appearance_name" />

 </manifest>
